@use "variables"as v;

/*general styles*/

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: v.$fontPrimary;
    color:v.$fontColorPrimary;
    background-color: #55917F;
}

.header,
.main,
.footer {
    min-width: 320px;
}