
$white: #FFFFFF;
$white-bone: #F3F3F3;
$black: #000000;
$red: #D01418;
$black-background:#FDB913;

$font:'Roboto', sans-serif;

$backgroundHeader:radial-gradient(circle, rgba(130,44,44,1) 32%, rgba(0,0,0,1) 100%); ;

$backgroundCard: radial-gradient(circle, rgba(63,251,243,1) 32%, rgba(252,70,70,1) 100%);
