@use "variables" as v; /*se definen las variables */

@use "globals"; /* este sería un partial, importa el orden*/


/* Header */

.header {
  display: flex;
  background: v.$backgroundHeader;
  color: v.$white;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  min-height: 100px;
}

.main{
  position: relative;
  display: flex;
  background: #2e2e2e;
  align-items: center;
  padding: 100px;
  justify-content: space-around;
  gap: 20px;
  height: calc(100vh - 100px);

}

.card{
  display: flex;
  flex-direction: column;
  color: v.$black;
  width: 80%;
  text-align: center;
  background: v.$backgroundCard ;
  padding: 20px;
  border-radius: 20px;
  &__title{
    margin:5px 0;
  }
  &__section{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }
  &__buttons{
    display: flex;
    margin: 15px 0;
  }
  &__button{
    text-decoration: none;
    border: 3px white solid;
    background-color: blue;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    color: v.$white;
    font-weight: bold;
  }

}



@media (max-width:660px){
  .main{
    flex-direction: column;
    height: auto;
  }
}